<div class="container-main-scroller">
  <div class="media-scroller snaps-inline">
    <!-- <app-mostra-card [mostre]="getFeatured()"></app-mostra-card> -->
           <div class="card" *ngFor="let mostra of mostre$ | async">
              <div class="card-image" [ngStyle]="{'background-image': 'url(' + mostra.image +')'}"></div>
              <div class="card-body">
                <h5 class="card-title">{{mostra.title}}</h5>
                <p class="card-text">{{mostra.description | slice:0:250}}</p>
                <div class="card-button">
                  <a routerLink="/mostre/dettaglio/{{mostra.title}}/{{mostra._id}}" class="btn btn-primary">visualizza</a>
                </div> 
              </div>
            </div>
</div>
</div>
