<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-red">
      <div class="container-fluid">
        <img src="../../../assets/images/icona-nera.png" class="icona-navbar" routerLink="home">
        <a class="titolo-principale" routerLink="home">Roma in Mostra</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="home"><mat-icon>home</mat-icon>Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="mostre"><mat-icon>collections</mat-icon>Mostre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="mostre/addMostra"><mat-icon>add</mat-icon>Aggiungi mostra</a>
              </li>
              <li class="nav-item user" *ngIf="!authService.isLogged()">
                  <a class="nav-link" routerLink="login"><mat-icon>person</mat-icon>Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><mat-icon>contacts</mat-icon>Contattaci</a>
              </li>
              <li class="nav-item user" *ngIf="authService.isLogged()">
                <mat-icon>person</mat-icon><span class="name">Ciao {{user.name}}</span>
                <a class="nav-link" routerLink="profilo"> - PROFILO</a>
                <a class="nav-link" (click)="logout()"> - LOGOUT</a>
              </li>
            </ul>
          </div>
        </div>
        
    </nav>
  </header>
