@import "../../../../styles/colors.scss";

.container-fluid{
    margin: 20px 0px;
}


h2{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: $terracotta;
    padding-bottom: 15px;
}