
<!-- <app-carousel></app-carousel> -->

<div class="container-main">
    <div>
        <div class="prima-sezione">
            <div class="titolo">
                <h2>Impara l'arte ma <br><span>non</span> metterla da parte</h2>
            </div>
            <div class="testo-prima-sezione">
                <h3>Perchè è importante conoscere l'arte?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, impedit quo. Asperiores illum nesciunt cumque officia ipsum sunt saepe voluptatibus cum laudantium corporis, adipisci, quos, dolor corrupti dolores repellat nobis perferendis natus. Deleniti voluptatem doloremque dolores iusto.</p>

            </div>
        </div>
    </div>
    <div class="seconda-sezione">
        <h1>Mostre in evidenza</h1>
        <app-scrolling-card></app-scrolling-card>
        
    </div>
    <div class="terza-sezione">
        
    </div>
</div>


