@import '../../../styles/colors.scss';

.prima-sezione{
    width: 100%;
    text-align: justify;
   
    span{
        color:rgb(141, 29, 29);
    }

    p{
        font-weight: lighter!important;
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.titolo{
    width: 45%;
    margin: 0;
    background-color: $ocra;
    float: left;
    text-align: center;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;


    h2{
        font-size: 50px;
        font-weight: bolder;
        word-spacing: normal;
        line-height: 3rem;
        padding: 10px;

    }

}

.testo-prima-sezione{
    padding-left: 7px;
    width: 55%;
    float: left;

    h3{
        font-size: 20px;
        font-weight: normal;
        font-style: italic;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 2px;
    
    }
}

.seconda-sezione{
    float: left;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;

    h1{
        font-weight: bolder;
        font-size: 33px;
        text-align: center;
        padding-bottom: 10px;
    }

}


.terza-sezione{
    width: 100%;
    height: 550px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 200px;
    margin-top: 200px;
    //background-color: rgb(65, 108, 225);
    padding-top: 30px;
    padding-bottom: 30px;

    h1{
        font-weight: bold;
        font-size: 35px;
        //text-align: center;
        margin-bottom: 30px;
        margin-left: 20px;
        color: $terracotta;

        
    }

    .leggenda{
        width: 100%;
        float: left;
        


        ul{
            list-style-type: none;
            
            h3{
                font-size: 28px;
                font-family: "Dancing Script";
            }
        }

    }

    .mappa{
        float: left;
        margin: 0;
        width:100%;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 20px;
        padding: 0;
        //margin-left: 20%;

        iframe{
            border-radius: 1rem;
            margin-top: 40px;
            width: 100%;
        }

        p{
            font-size: 18px;
            color: $oliva;
            margin-left: 7px;
            margin-bottom: -30px;
            margin-top: 20px;
        }
    }

}

.column {
    //float: left;
    margin-left: 12%;
    width: 35%;
  }
  


.mat-icon{
    height: 30px;
    width: 30px;
    font-size: 30px;
    padding-top: 5px;
    color: $terracotta;
}

