<div class="container-main-form">
    <div class="container-form">
        <h3>Nuova mostra:</h3>
        <form class="contenitore-form" [formGroup]="form" (onSubmit)="onSubmit()">
            <div>
                <div class="form-element">
                    <label>Titolo:</label>
                    <input type="text" id="title" name="title" class="form-control" formControlName="title"/>
                    <p class="danger" *ngIf="!form.get('title')?.valid && form.get('title').touched">Il campo titolo è obbligatorio</p>
                </div>
    
                <div class="form-element">
                    <label>Descrizione:</label>
                    <br>
                    <ckeditor [editor]="Editor" [config]="editorConfig" name="description" class="editor" formControlName="description"></ckeditor>
                    <!-- <textarea rows = "5" cols = "60" name = "description" class="form-control" formControlName="description"></textarea> -->
                    <p class="danger" *ngIf="!form.get('description')?.valid && form.get('description').touched">Il campo descrizione è obbligatorio</p>
                </div>
    
                <div class="form-element">
                    <label>Inserisci l'url dell'immagine:</label>
                    <input type="text" id="image" name="image" class="form-control" formControlName="image"/>
                    <p class="danger" *ngIf="!form.get('image')?.valid && form.get('image').touched">Il campo url immagine è obbligatorio</p>
                </div>

                <div class="form-element">
                    <label>Luogo:</label>
                    <input type="text" id="place" name="place" class="form-control" formControlName="place"/>
                    <p class="danger" *ngIf="!form.get('place')?.valid && form.get('place').touched">Il campo luogo è obbligatorio</p>
                </div>

                <div class="form-element">
                    <label>Data di fine mostra:</label>
                    <input type="text" label="gg/mm/aa" id="endDate" name="endDate" class="form-control" formControlName="endDate"/>
                    <p class="danger" *ngIf="!form.get('endDate')?.valid && form.get('endDate').touched">Il campo data è obbligatorio</p>
                </div>

                <div class="form-element">
                    <label>Vuoi metterla in evidenza nella pagina home?
                    <input type="checkbox" id="featured" name="featured" formControlName="featured"/>
                    </label>
                    <p class="danger" *ngIf="!form.get('featured')?.valid && form.get('featured').touched">Il campo in evidenza è obbligatorio</p>
                </div>

                <div class="form-element">
                    <label>Vuoi pubblicarla?
                    <input type="checkbox" id="published" name="published" formControlName="published"/>
                    </label>
                </div>

                
                <div class="container-btn-form">
                    <button type="submit" class="btn btn-primary" (click)="open(modaleAddMostra)">Aggiungi Mostra</button>
                </div>
            </div>  

        </form> 
    </div>
</div>

<ng-template #modaleAddMostra let-modal>
    <div class="modal-header">
        <h3>Mostra Aggiunta!</h3>
        <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <h4>Riepilogo:</h4>
        <p>Titolo: {{mostraInserita.title}}</p>
        <p>Descrizione: {{mostraInserita.description}}</p>
        <p>Luogo: {{mostraInserita.place}}</p>
        <p>Data di fine mostra: {{mostraInserita.endDate}}</p>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="modal.dismiss()" routerLink="mostre">CHIUDI</button>
        <button type="button" class="btn btn-primary" (click)="modal.close()" ngbAutoFocus ruterLink="addMostra">AGGIUNGI ALTRA MOSTRA</button>
      </div>
</ng-template>
