<div class="container-main">
    <div class="container-form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Entra a far parte della community!</h2>
            <div class="form-element">
                <label for="name">Nome:</label>
                <input type="text" placeholder="es. Mario" id="name" name="name" class="form-control" formControlName="name">
                <p class="help is-danger" *ngIf="!form.get('name')?.valid && form.get('name').touched">Il campo nome è obbligatorio</p>
            </div>
            <div class="form-element">
                <label for="lastname">Cognome:</label>
                <input type="text" placeholder="es. Rossi" id="lastname" name="lastname" class="form-control" formControlName="lastname">
                <p class="help is-danger" *ngIf="!form.get('lastname')?.valid && form.get('lastname').touched">Il campo cognome è obbligatorio</p>
            </div>
            <div class="form-element">
                <label for="email">Email:</label>
                <input type="text" placeholder="es. mario.rossi@gmail.com" id="email" name="email" class="form-control" formControlName="email">
                <p class="help is-danger" *ngIf="!form.get('email')?.valid && form.get('email').touched">Il campo email è obbligatorio</p>
            </div>
            <div class="form-element">
                <label for="password">Password:</label>
                <p-password formControlName="password" class="w-full form-control" [toggleMask]="true" [feedback]="false" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>     
                <p class="help is-danger" *ngIf="form.controls.password.hasError('pattern')&& form.get('password').touched">Il campo password deve contenere un carattere speciale, una maiuscola e un numero e essere lungo almeno 8 caratteri</p>
                <p class="help is-danger" *ngIf="!form.get('password')?.valid && form.get('password').touched">Il campo password è obbligatorio</p> 
            </div>
            <div>
                <label for="ripetiPassword">Ripeti la password:</label>
                <p-password formControlName="ripetiPassword" class="w-full form-control" [feedback]="false" styleClass="p-password p-component p-inputwrapper p-input-icon-right" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"></p-password>
                <p class="help is-danger" *ngIf="!form.get('ripetiPassword')?.valid && form.get('ripetiPassword').touched">Il campo ripeti password è obbligatorio</p>
                <p class="help is-danger" *ngIf="form.getError('diversa') && form.get('ripetiPassword').touched">Attenzione la password inserita non combacia</p>
            </div>
            <div class="container-btn">
                <button type="submit" class="btn btn-primary">REGISTRATI</button>
            </div>
        </form>
    </div>
    <div class="registrazione">
        <h4>Se sei già registrato <a routerLink="../login">clicca qui</a></h4>
    </div>
</div>

<p-toast position="bottom-right"></p-toast>
