
<div class="contenitore-form">
    <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
            <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5">Registrati</p>
                <form class="mx-1 mx-md-4">
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="scrivi il tuo nome" id="name" name="name" class="form-control"> 
                            <label class="form-label" for="name">Il tuo nome</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="scrivi il tuo cognome" id="lastname" name="lastname" class="form-control"> 
                            <label class="form-label" for="lastname">Il tuo cognome</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="scrivi il tuo username" id="username" name="username" class="form-control"> 
                            <label class="form-label" for="username">Il tuo username</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="scrivi la tua email" id="email" name="email" class="form-control"> 
                            <label class="form-label" for="email">La tua email</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="password" id="password" name="password" class="form-control"> 
                            <label class="form-label" for="password">Password</label>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" placeholder="ripeti password" id="ripetiPassword" name="ripetiPassword" class="form-control"> 
                            <label class="form-label" for="ripetiPassword">Ripeti la password</label>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg">Registrati</button>
                      </div>
                </form>

            </div>
            </div>
        </div>
    </div>
</div>

