<div class="container" class="footer-container">
    <footer class="py-3 my-4">
        <div class="contenitore-footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><h4>Roma in Mostra</h4></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" class="text-footer">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" class="text-footer">Mostre</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" class="text-footer">Contatti</a></li>

              </ul>
        </div>
      
      <p class="text-center text-muted">© 2023 Company, Inc</p>
    </footer>
  </div>

