@import '../../../styles/colors.scss';

.contenitore-footer{
    background-color: #729a8c!important;
}

footer{
    background-color: #729a8c!important;
    display: block;
    float: left;
    bottom: 0px;
    width: 100%;
    //margin-top: 30px;
    padding: 16px;
    height: 200px;
}




h4{
    font-family: "Dancing Script";
    font-size: 20px;
    color: rgb(94, 92, 92);
}

.text-footer{
    color: rgb(94, 92, 92);
    text-decoration: none;
    padding-left: 15px;
}

p{
    font-size: 12px;
    color: rgb(94, 92, 92)!important;
}